.pag-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pag-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}